@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Neucha';
  font-weight: 400;
  src: url('../fonts/Neucha-Regular.ttf');
}

:root {
  --color-white: #ffffff;
  --color-white-translucent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-translucent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

* {
  box-sizing: border-box;
}

.content {
  width: 1100px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  position: relative;
}

.bgcolor-beige {
  background-color: var(--color-light);
  position: relative;
}

.bgcolor-white {
  background-color: var(--color-white);
}

.bgcolor-dark {
  background-color: var(--color-main-dark);
}

.bgcolor-brown {
  background-color: var(--color-brown);
  position: relative;
}

.bgcolor-beige::before,
.bgcolor-brown::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.color-main {
  color: var(--color-main);
}

h1 {
font-family: 'Neucha', sans-serif;
font-size: 72px;
line-height: 1.2em;
width: auto;
font-weight: 400;
}

h2 {
  font-family: 'Neucha', sans-serif;
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 400;
}

h3 {
  font-family: 'Neucha', sans-serif;
  font-size: 34px;
  line-height: 1.2em;
  font-weight: 400;
}

h4 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  text-transform:  uppercase;
}

p {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.6em;  
  /*margin: 0; - 1 страница. если поставить отступы 0, то слетают абзацы, иначе верхняя строка не в 0*/
}

/*span {
  font-family: 'Neucha', sans-serif;
  font-size: 24px;
  line-height: 1.2em;
}*/

article > p {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
}

img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.columns-2 {
  columns: auto 2;
  column-gap: 30px;
  margin-top: 185px; /*поставила значение из figma, чтобы текст не попадал на изображение*/
}

button {
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-main);
  color: var(--color-white);
  border: none;
}

.page-1 * {
  text-align: center;
}

.page-1 > h2 {
  padding-bottom: 30px;
  margin: 0;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  display: flex;
  position: relative;
  z-index: 2;
  margin: auto;
}

main::before {
 background-color: var(--color-main-dark);
 height: 100px;
 width: 100%;
 display: flex;
 z-index: 1;
 content: "";
 position: relative;
 top: -100px;
}

.page-1 {
  padding-bottom: 0;
}

.page-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-start;
  padding-top: 0;
}

.block,
.block-main {
  background-color: var(--color-light);
  padding: 24px;
  width: 350px;
  height: 323px;
  margin: 15px 8px; /*как корректно расставить отступы*/
}

.block-main {
  background-color: var(--color-main-darkdark);
}

.block:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

.h348px {
  height: 348px;
}

.page-2 > h2 {
  font-size: 52px;
  margin: 0;
}

.block > h2 {
  padding-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}

.block * {
  margin: 0;
}

